<div data-role="page" id="goods">
<textarea class="J_GoodsTemp" style="display:none;">
    {{#goods}}
        <li class="shop-list-li clearfix">
            <div class="shop-logo"><img src="{{pic_url}}" width=64 height=64 /></div>
            <div class="shop-info">
                <p>
                    <a class="shop-name-link" href="#itemdetail" data-itemid="{{num_iid}}" data-transition="slide">{{title}}</a>
                </p>
                <p>
                    <span>好评率：</span>
                    <span>99%</span>
                </p>
                <p>
                    <span>宝贝数：</span>
                    <span>{{num}}</span>
                </p>
                <p>
                    <span>最近更新：</span>
                    <span>{{list_time}}</span>
                </p>
            </div>
            <div style="clear:both"></div>
        </li>
    {{/goods}}
</textarea>
<style>
.ui-controlgroup-controls{width:100%;}
.ui-content{background-color: #e7e7e7;}
</style>
    <div data-role="header" data-position="fixed">
        <a href="#" data-role="button">宝贝</a>
        <h1>我的收藏</h1>
        <a href="#shop" data-role="button" style="float:right">店铺</a>
    </div>

<div data-role="content" style="background-color:#E7E7E7;">
    <ul id="J_GoodsList" class="shop-list-ul">
        
    </ul>
</div>
<div data-role="footer" class="nav-glyphish" data-position="fixed" data-id="myfooter" style="bottom:20px">
    <div data-role="navbar" class="nav-glyphish">
        <ul>
            <li><a href="#msg" data-icon="custom" class="msg">消息中心</a></li>
            <li><a href="#goods" data-icon="custom" class="fav ui-btn-active ui-state-persist">我的收藏</a></li>
            <li><a href="#list" data-icon="custom" class="list">逛一逛</a></li>
            <li><a href="#setting" data-icon="custom" class="setting">设置</a></li>
        </ul>
    </div>
</div>
</div>


<div data-role="page" id="shop">
<style>
.ui-controlgroup-controls{width:100%;}
.ui-content{background-color: #e7e7e7;}
.shop-list-name{position:absolute;bottom:0;left:0;width:256px;height:30px;line-height:30px;color:#fff;text-align:center;background-color:#000;opacity:.7;}
</style>
        <div data-role="header" data-position="fixed">
            <a href="#goods" data-role="button">宝贝</a>
            <h1>我的收藏</h1>
            <a href="#" data-role="button" style="float:right">店铺</a>
        </div>

        <div data-role="content">
            <ul class="shop-list-ul">
                <li class="shop-list-li clearfix" style="position:relative;">
                    <a href="http://shop58844694.m.taobao.com/?sid=78662d22cdb83b83" style="display:block;width:256px;height:256px;">
                        <img src="http://q.i02.wimg.taobao.com/bao/uploaded/97/19/T15zeGXixhXXaCwpjX_128x128.jpg" style="width:256px;height:256px;border-radius:8px;" />
                    </a>
                    <div class="shop-list-name">
                        法国雷洛隆久发直营店
                    </div>
                </li>
                <li class="shop-list-li clearfix" style="position:relative;">
                    <a href="http://baixingdq.m.tmall.com/?sid=da2ed8366d0357c0" style="display:block;width:256px;height:256px;">
                        <img src="http://q.i01.wimg.taobao.com/bao/uploaded/8d/42/T1rwLgXm8uXXb1upjX_128x128.jpg" style="width:256px;height:256px;border-radius:8px;" />
                    </a>
                    <div class="shop-list-name">
                        百兴电器专营店
                    </div>
                </li>
                <li class="shop-list-li clearfix" style="position:relative;">
                    <a href="http://dacom.m.tmall.com/?sid=da2ed8366d0357c0" style="display:block;width:256px;height:256px;">
                        <img src="http://q.i04.wimg.taobao.com/bao/uploaded/0a/a3/T1y_nTXoNoXXb1upjX_128x128.jpg" style="width:256px;height:256px;border-radius:8px;" />
                    </a>
                    <div class="shop-list-name">
                        dacom旗舰店
                    </div>
                </li>
            </ul>
        </div>
        <div data-role="footer" class="nav-glyphish" data-position="fixed" data-id="myfooter" style="bottom:20px">
            <div data-role="navbar" class="nav-glyphish">
                <ul>
                    <li><a href="#msg" data-icon="custom" class="msg">消息中心</a></li>
                    <li><a href="#goods" data-icon="custom" class="fav ui-btn-active ui-state-persist">我的收藏</a></li>
                    <li><a href="#list" data-icon="custom" class="list">逛一逛</a></li>
                    <li><a href="#setting" data-icon="custom" class="setting">设置</a></li>
                </ul>
            </div>
        </div>
    </div>
