<div data-role="page" id="list">
    <div data-role="header" data-position="fixed">
        <h1>逛一逛</h1>
    </div>

    <div data-role="content">
        <ul class="shop-list-ul">

        </ul>
    </div>
    <div data-role="footer" class="nav-glyphish" data-position="fixed" data-id="myfooter" style="bottom:20px">
        <div data-role="navbar" class="nav-glyphish">
            <ul>
                <li><a href="#msg" data-icon="custom" class="msg">消息中心</a></li>
                <li><a href="#goods" data-icon="custom" class="fav">我的收藏</a></li>
                <li><a href="#" data-icon="custom" class="list ui-btn-active ui-state-persist">逛一逛</a></li>
                <li><a href="#setting" data-icon="custom" class="setting">设置</a></li>
            </ul>
        </div>
    </div>
    <textarea class="listTemplate" style="display:none">
        {{#items}}
        <li class="shop-list-li clearfix">
            <div class="shop-logo"><a href="#itemdetail" data-itemid="{{num_iid}}" data-transition="slide"><img src="{{pic_url}}" width=64 height=64 /></a></div>
            <div class="shop-info">
                <p>
                    <a class="shop-name-link" href="#itemdetail" data-itemid="{{num_iid}}" data-transition="slide">{{title}}</a>
                </p>
                <p>
                    <span>促销价：</span>
                    <span style="font-family: arial;">￥{{price}}</span>
                </p>
                <p>
                    <span>月销：</span>
                    <span>{{volume}}</span>
                    <span>件</span>
                </p>
            </div>
            <div style="clear:both"></div>
        </li>
        {{/items}}
    </textarea>
</div>
