
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>手机淘宝网 -  会员登录 </title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" type="text/css" href="http://a.tbcdn.cn/mw/base/styles/component.css?v=2075723587" />
    <link rel="stylesheet" type="text/css" href="http://a.tbcdn.cn/mw/app/mytaobao/h5/css/login.css?v=0" />
</head>
<body scroll="none" >
<div id="tbh5v0">
<div class="screen-wrap fullscreen login">
<header id="header">
<div class="c-inav">
<section>
</section>
<section>
<span>会员登录</span>
</section>
<section></section>
</div>
</header>
        <section class="innercontent">
            <form  method="post"   class="c-form login-form" action="https://oauth.tbsandbox.com/authorize?client_id=1021354870&response_type=code&redirect_uri=http://10.13.37.48:3000/msg" id="J_Login">
                <input name='_tb_token_' type='hidden' value='Dx8z44jonl' />
                <fieldset>
                    <div class="field submit-btn">
                        <input type="submit" class="c-btn-oran-big" value="淘 宝 登 录"/>
                    </div>
                </fieldset>
            </form>
       </section>
<noscript>
<img src='http://mbuf.alipay.com/dc.htm?token=T735d52d68ccd88609a4393c91db260cc1357627560957' width="0" height="0" />
</noscript>

         <footer   class="footer " >
            <section class="footer-t">
               </section>
               <nav class="footer-l">

    <a id="J_imgViewType" href="javascript:void(0)" class="J_dps" data-dps="hdedition%23h%23" style="display:none;"></a>
               </nav>
               <p class="copyright">&copy;2012 浙B2-20080224<a class="cr-sv" href="http://m.taobao.com/channel/act/customerservice.html?sid=fb6fe7fd9fe3e119&amp;pds=service%23h%23"  id="J_service" >客服</a></p>
<p class="taofontdown" style="display:none">预加载淘+字体</p>
</footer>
   </div>
    </div>
</body>
</html>