<div data-role="page" id="more">
    <div data-role="header">
        <a data-rel="back">返回</a>
        <h1>更多订阅</h1>
    </div>
    <div data-role="content">
        <h4>商品提醒</h4>
        <ul data-role="listview" data-inset="true">
            <li><a href="#">价格提醒</a></li>
            <li><a href="#">差评提醒</a></li>
            <li><a href="#">库存提醒</a></li>
        </ul>

        <h4>店铺提醒</h4>
        <ul data-role="listview" data-inset="true">
            <li><a href="#">上新提醒</a></li>
        </ul>
    </div>
</div>