<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>发送消息 </title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" type="text/css" href="http://a.tbcdn.cn/mw/base/styles/component.css?v=2075723587" />
    <link rel="stylesheet" type="text/css" href="http://a.tbcdn.cn/mw/app/mytaobao/h5/css/login.css?v=0" />
</head>
<body scroll="none" >
	<a href="/newmsg">send msg</a>
</body>
</html>
