.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

ul {
    list-style: none;
    padding: 0;
    margin: -15px;
}

.top {
    background: url(/images/bg.jpg) no-repeat 0 -290px transparent;
    margin: -15px;
    min-height: 110px;
}

.info {
    margin: -15px;
    background-color: #f6f6f6;
    position: relative;
    font-size: 12px;
}

.info .user {
    position: absolute;
    left: 5px;
    top: -30px;
    width: 75px;
    height: 75px;
}

.info .unread, .info .fav {
    display: inline-block;
    text-align: center;
    color: #666;
    font-weight: bold;
    padding: 15px 0;
}

.info .unread span, .info .fav span {
    display: block;
}

.info .unread span {
    margin-right: 14px;
}

.info .unread {
    width: 44%;
    text-align: right;
    padding-right: 5px;
}

.info .fav {
    width: 25%;
    border-left: solid 1px #d3d3d3;
}

.msg {
    margin-top: 15px;
    font-size: 12px;
}

.msg li {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #eee;
    background-color: #e7e7e7;
    padding: 10px;
}

img {
    border: solid 1px #eee;
}

.msg img {
    width: 50px;
    height: 50px;
}

.msg .detail-wrap {
    margin-left: 70px;
    margin-top: -60px;
}

.msg .detail {
    background-color: #fff;
    min-height: 45px;
    padding: 5px;
}

.msg .detail img {
    float: left;
}

.msg .shopdetail img {
    margin-right: 3px;
}

.comment {
    margin-left: 60px;
    font-size: 12px;
}